
@media(min-width: 850px) and (max-width: 1129.99px){

    html{
        font-size: 62.5%;
    }

    /* Cabecalho Início */

    header#cabecalho{
        width: 100%;
        border: 2px solid green;
        position: fixed;
        top: 0;
        backdrop-filter: blur(0px) saturate(71%);
        -webkit-backdrop-filter: blur(0px) saturate(71%);
        background-color: rgba(18, 18, 19, 0.73);
        border: 1px solid rgba(255, 255, 255, 0.125);
        z-index: 10000;
    }
    
    header#cabecalho #div-interna-cabecalho{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
    }
    
    header#cabecalho #div-interna-cabecalho img{
        width: 18rem;
        cursor: pointer;
    }
    
    header#cabecalho #div-interna-cabecalho nav#navegacao-principal a{
        margin-left: 2rem;
        color: #fff;
        font-size: 1.75rem;
        display: inline-block;
        transition: all 0.1s;
    }
    
    header#cabecalho #div-interna-cabecalho nav#navegacao-principal a:hover{
        transform: scale(1.05);
        color: cyan;
    }
    
    header#cabecalho #div-interna-cabecalho nav#navegacao-principal span.barra-lateral{
        display: inline-block;
        width: 0.1rem;
        height: 2rem;
        position: relative;
        left: 1rem;
        top: 0.4rem;
        background: #fff;
    }

    header#cabecalho .cabecalho-oculto{
        display: none;
    }

    /* Cabecalho Fim */

    section#container1 #conteudo-principal1 h1{
        font-family: 'Bree Serif', serif;
        font-size: 8rem;
        margin-bottom: 2rem;
        color: #fff;
    }

    .btn{
        font-size: 2rem;
        padding: 1.5rem;
        border-radius: 5rem;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    section#container1{
        width: 100%;
        z-index: 0;
    }

    section#container1 #conteudo-principal1{
        width: 80%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto Mono', monospace;
    }

    .botao1{
        background: #821dfd;
        transition: all 0.3s;
    }

    .botao1:hover{
        background: #6518c3;
    }

    .botao2{
        background: none;
        border: 2px solid #fff;
        transition: all 0.3s;
    }

    .botao2:hover{
        background: #fff;
        color: black;
    }

    section#container2{
        width: 100%;
        background: #fff;
        padding: 3rem 0 3rem 0;
    }

    section#container2 #conteudo-principal2{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    section#container2 #conteudo-principal2 #container2-album{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-row-gap: 2rem;
    }

    section#container2 #conteudo-principal2 #container2-lateral{
        width: 50%;
        align-self: flex-start;
    }

    section#container2 #conteudo-principal2 #container2-album img{
        width: 90%;
    }

    section#container2 #conteudo-principal2 #container2-lateral h1{
        color: #7858d8;
        font-size: 5rem;
        margin-bottom: 1.4rem;
    }

    section#container2 #conteudo-principal2 #container2-lateral h4{
        color: #7858d8;
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    section#container2 #conteudo-principal2 #container2-lateral p{
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }


    section#container3{
        width: 100%;
        padding: 4rem;
    }

    section#container3 #conteudo-principal3{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    section#container3 #conteudo-principal3 #container3-conteudo h1{
        color: #fff;
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    section#container3 #conteudo-principal3 #container3-conteudo h4{
        color: #96ccd6;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    section#container3 #conteudo-principal3 #container3-conteudo p{
        color: #fff;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    section#container3 #conteudo-principal3 #container3-album{
        margin-left: 5rem;
    }

    section#container3 #conteudo-principal3 #container3-album img{
        width: 45%;
    }
    
    section#container3 #conteudo-principal3 #container3-album img.iphone1{
        transform: rotate(30deg) translateX(8rem);
    }

    section#container3 #conteudo-principal3 #container3-album img.iphone2{
        transform: rotate(30deg) translateX(16rem);
    }

    footer#rodape{
        background: black;
        width: 100%;
        color: #fff;
        padding: 9rem 0px 5rem 5rem;
    }

    footer#rodape #rodape-interno{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 3rem;
    }

    footer#rodape #rodape-interno #conteudo-rodape img{
        width: 20rem;
        margin-right: 5rem;
    }

    footer#rodape #rodape-interno #conteudo-rodape{
        display: flex;
        flex-flow: row nowrap;
        font-size: 1.7rem
    }

    footer#rodape #rodape-interno #conteudo-rodape .coluna{
        margin-right: 9rem;
    }

    footer#rodape #rodape-interno #conteudo-rodape .coluna h4{
        color: rgb(134, 134, 134);
        margin-bottom: 1.8rem;
    }

    footer#rodape #rodape-interno #conteudo-rodape .coluna p{
        margin-bottom: 1rem;
    }

    footer#rodape #rodape-interno #redes-sociais span{
        margin-left: 1rem;
        font-size: 2.5rem;
        border-radius: 50%;
        padding: 1.2rem;
        background: #38393e;
        cursor: pointer;
        transition: all 0.2s;
        display: inline-block;
    }

    footer#rodape #rodape-interno #redes-sociais span:hover{
        transform: scale(1.1);
        background: #fff;
        color: black;
    }

    footer#rodape #rodape-interno #conteudo-rodape .coluna p:hover{
        color: cyan;
        cursor: pointer;
        transform: scale(1.05);
    }
    
}